@import url(./variable.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:40");

@keyframes degradeOpacity {
    from{opacity:1;}
    to{opacity:0;}
}
@keyframes upgradeOpacity {
    from{opacity:1;}
    to{opacity:0;}
}
.animated-border:hover {
    border-width: 10px;
    border-style: solid;
    animation: borderAnimation 3s infinite;
}
@keyframes borderAnimation {
    0% {border-color: var(--bgChocolate);}
    24%{border-color:transparent;transform:rotate(20deg) scale(0.9);}
    25%{border-color: var(--bgDgrey);transform:rotate(0);}
    49%{border-color:transparent;transform:rotate(-20deg) scale(0.9);}
    50%{border-color: var(--bgDpurple);;transform:rotate(0);}    
    74%{border-color:transparent;transform:rotate(20deg) scale(0.9);}
    75%{border-color: var(--primaryColor);;transform:rotate(0);}
    99%{border-color:transparent;transform:rotate(-20deg) scale(0.9);}
    100%{border-color: var(--thirthColor);;transform:rotate(0);}
}
.box{
    /* opacity: 0; */
    transition: degradeOpacity 2s;
}
*{
    margin:0;
    color:black;
    font-family: Arial, Times New Roman, Georgia;
    box-sizing: border-box !important;
    /* font-family: Garamond, Bodoni, Didot;  accentuation*/
}
.m-0{
    margin:0 !important;
}
.noneThat{
    display: none !important;
}
.accentText{
    font:var(--accentfont);
    font-weight: bold;
    color:var(--primaryColor);
}
.allskills{
    display: flex;
}
#content{
    width:100vw;
    height: 100vh;
    /* min-width: 1300px; */
    /* min-height: 800px; */
    background: linear-gradient(237deg, var(--bgDpurple), rgba(255,0,0,0) 70.71%), 
                linear-gradient(147deg,  var(--bgChocolate), rgba(0,255,0,0) 70.71%), 
                linear-gradient(356deg, var(--bgDgrey), rgba(0,0,255,0) 70.71%);
    position:relative;
}
#content *{
    max-width: 100%;
    max-height: 100%;
}

.cardActive{
    padding:30px;
    position: absolute;
    content:" ";
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
    max-height: 70%;
    height: 700px;
    background:#b27f7f40;
    border-radius: 50px;
    box-shadow:inset 1px 1px 16px 0px #8478784d;
    background: rgba(185, 161, 161, 0.22);
}
.card{
    padding:30px;
    position: absolute;
    top:50%;
    left:50%;
    content:" ";
    background:#b27f7f40;
    border-radius: 50px;
    width:85%;
    height: 83%;
    box-shadow:inset 1px 1px 16px 0px #8478784d;
    background: rgba(185, 161, 161, 0.22);
}
.cardActive{
    transform: translate(-46%,-46%);
    z-index: 5;
    background: var(--bgFont);
}
.cardInactive1{
    transform: translate(-48%,-48%);
    z-index: 4;
    background: rgba(185, 161, 161, 0.22);
    padding: 100px;
}
.cardInactive2{
    transform: translate(-50%,-50%);
    z-index: 3;
    background: rgba(185, 161, 161, 0.17);
    padding: 100px;
}
.cardInactive3{
    transform: translate(-52%,-52%);
    z-index: 2;
    background: rgba(185, 161, 161, 0.12);
    padding: 100px;
}
#index, .index{
    top:30px;
    bottom:30px;
    left:50px;
    right: 50px;
    padding:30px;
    position: absolute;
    content:" ";
    background:#b27f7f40;
    border-radius: 20px;
    box-shadow:inset 1px 1px 16px 0px #8478784d;
    background: var(--bg);
    z-index:1;
}
.emoji{
    font-size: 26px;
}

/*animation*/
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

  


  
  /*
  text-shadow forked from: https://codepen.io/teetteet/details/dFICw#forkline
  */
  .superShadow {
    text-shadow:     0 1px 0 hsl(174,5%,80%),
                       0 2px 0 hsl(174,5%,75%),
                       0 3px 0 hsl(174,5%,70%),
                       0 4px 0 hsl(174,5%,66%),
                       0 5px 0 hsl(174,5%,64%),
                       0 6px 0 hsl(174,5%,62%),
                       0 7px 0 hsl(174,5%,61%),
                       0 8px 0 hsl(174,5%,60%),
      
                       0 0 5px rgba(0,0,0,.05),
                      0 1px 3px rgba(0,0,0,.2),
                      0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
  }
  
  strong{
    font-size:200px;
  }


@media only screen and (max-width: 2600px) {
    
    
    /* ------------------------------------------- */
    /* ------------------------------------------- */
    /* ------------------------------------------- */
    .indexContent{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    .indexContent .presentation{
        width:60%;
    }
    .indexContent .presentation .name{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content:space-between;
    }
    .indexContent .presentation>* {
        margin-bottom: 20px;
    }
    .indexContent h3 ,.indexContent .letters{
        font-size: 30px;
        font-size: 28px; /* Taille du titre "Hi I'm RAZAFITSALAMA Marius" */
        font-weight: lighter; /* Éventuellement, pour mettre en gras */
    }
    
    .indexContent h1 {
        font-size: 34px; /* Taille du titre "I am a BackEnd Developer" */
        font-weight: bold; /* Éventuellement, pour mettre en gras */
    }
    
    .indexContent p {
        font-size: 22px; /* Taille du paragraphe */
        line-height: 1.5; /* Hauteur de ligne pour un espacement adéquat entre les lignes */
    }
    
    .indexContent button {
        background: var(--bgDpurple);
        font:var(--accentfont);
        color: #fff; /* Couleur du texte */
        padding: 15px 22px; /* Espacement intérieur (haut-bas, gauche-droite) */
        font-size: 18px; /* Taille de la police */
        border: none; /* Supprimer la bordure du bouton */
        border-radius: 12px;
        cursor: pointer; /* Curseur de souris en pointeur au survol */
        display: flex;
        align-items: center;
      }
      .indexContent button *{
        color:white;
      }
      
      .indexContent button:hover {
        background-color: #0056b3; /* Couleur de fond du bouton au survol */
      }
    
      .indexContent button img {
        max-width: 100%;
        width: 30px;
        margin: 0 0 0 10px;
    }
    
    /* =================================== */
    #skills{
        display: flex;
    
    }
    #skills .cardSkils{
        /* border:solid 1px black; */
        background: var(--bgFont);
        padding:5px ;
        border-radius: 5px;
        margin:0 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #skills img{
        max-width: 80px;
        max-height: 80px;
    }
    
    /* ========================= */
    .presentationModule{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .presentationModule .head{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 40px 70px 0 70px;
    }
    .presentationModule .head .headText{
        display: flex;
        align-content: center;
        flex-direction: column;
    
        /* padding: 70px; */
        /* width: 100%; */
    }
    .presentationModule .head .headText{
        width:60%;
        font-size:20px;
    }
    .presentationModule .head .headText{
        width:60%;
        font-size:18px;
    }
    .presentationModule .head .headText h3{
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .presentationModule .head .headText p{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .presentationModule .head .headText .softSkills{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
    }
    .softSkills{
        margin-top: 10px;
    }
    .softSkills .mate{
        background: #710909;
        color:var(--bgFont);
        border-radius: 5px;
        padding:7px 13px;
        margin:0 5px 0 0;
        font-size: 18px;
    }
    .softSkills .mate *{
        background: #710909;
        color:var(--bgFont);
        font-size: 18px;
    }
    .softSkills .mate:hover{
        transform: scale(1.1);
    }
    .presentationModule .head .image{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .presentationModule .head .image::before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 140px;
        height: 166px;
        background: darkkhaki;
        border: solid 2px #710909;
        border-radius: 50%;
        /* transform: rotate3d(3, -1, -1, 124deg) translate(-23px, -142px); */

        transform: rotate3d(3, -1, -1, 121deg) translate(-28px, -201px); 
        z-index: -1;
        
    }
    .presentationModule .head .r {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 180px;
        height: 184px;
        background: #710909;
        border: solid 2px yellow;
        border-radius: 50%;
        transform: rotate3d(1, 1, -1, -277deg) translate(-101px, 116px);
        z-index: -1;
      }
    .presentationModule .head .g{
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 143px;
        height: 71px;
        background: #710909;
        border: solid 2px yellow;
        border-radius: 50%;
        transform: rotate3d(1, 1, 2, 46deg) translate(24px, 62px);
        z-index: -2;
    }
    .presentationModule .head .image:after{
        position: absolute;
        content: " ";
        top: 0px;
        left: 0px;
        width: 120px;
        height: 204px;
        background: darkkhaki;
        border: solid 2px #710909;
        border-radius: 50%;
        transform: rotate3d(-1, 1, 1, 47deg) translate(98px,-44px);
        z-index: -2;
    }
    .presentationModule .head .image img{
        border-radius: 50%;
        width: 65%;
    }
    
    /* ===================== */
    .projects {
        padding:0 100px;
        height: 60%;
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects .next{
        padding:0 15px;
        position:absolute;
        background: url("../image/icon/right-chevron.png");
        background-size: contain;
        background-repeat: no-repeat;
        content:" ";
        top:50%;
        transform: translateY(-50%);
        right: 2%;
        width: 50px;
        height: 50px;
    }
    .projects .precedent:hover {
        transform:rotate(180deg) translateY(50%) scale(1.3);
    }
    .projects .precedent {
        padding:0 15px;
        position:absolute;
        background: url("../image/icon/right-chevron.png");
        background-size: contain;
        background-repeat: no-repeat;
        content:" ";
        top:50%;
        transform: translateY(-50%) rotate(180deg);        
        left: 2%;
        width: 50px;
        height: 50px;
    }
    .projects .next:hover {
        transform:translateY(-50%) scale(1.3);
    }
    .projects .tricards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        gap: 4px;
    }
    .projects .cardProject{
        display: grid;
        grid-template-rows: 50px 100px 1fr auto 60px;
        border-radius: 30px;
        padding:30px;
        background: var(--thirthColor);
    }
    .projects .cardProject:hover ,.projects .cardProject[a="a"]{
        transform: scale(1.05);  
        box-shadow: 0 0 4px 10px var(--bgFont);
    }
    .projects .cardProject .card_title{
        margin-bottom: 15px;
        font-size: 23px;
    }
    
    .projects .cardProject .card_title h3{
        text-align: center;
    }
    .projects .cardProject .card_image{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width:100%;
        margin-bottom: 20px;
        /* background: rgb(165, 82, 82); */
        
    }
    .projects .cardProject .card_text , .projects  .skillsProject p {
        font-size: 19px;
    }
    .projects  .card_text span,.projects  .skillsProject p{
        color:var(--bgDgrey);
        font-weight: bold;
    }
    .link{
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
        gap: 4px;
    }
    .link a{
        font-size: 19px;
        color:var(--thirthColor);
        font-weight: bold;

        background: var(--primaryColor);
        padding: 2px;
        border-radius: 5px;
        margin: 0px 5px 0 0;
        cursor:pointer;
    }
    .link a:hover{
        box-shadow: 0 0 3px 1px var(--bgFont);
        transform:scale(98%);
    }
    .projects .skillsProject{
        display: flex;
        margin:10px 0 0 0;
        gap: 4px;
    }
    .projects .skills{
        background: var(--bgFont);
        padding: 2px;
        border-radius: 5px;
        margin: 0px 5px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }
}
@media only screen and (max-width: 1600px) {
    .indexContent h3 {
        font-size: 22px; /* Taille du titre "Hi I'm RAZAFITSALAMA Marius" */
        font-weight: lighter; /* Éventuellement, pour mettre en gras */
    }
    
    .indexContent h1 {
        font-size: 26px; /* Taille du titre "I am a BackEnd Developer" */
        font-weight: bold; /* Éventuellement, pour mettre en gras */
    }
    
    .indexContent p {
        font-size: 24px; /* Taille du paragraphe */
        line-height: 1.5; /* Hauteur de ligne pour un espacement adéquat entre les lignes */
    }
    
    .indexContent button {
        padding: 15px 22px; /* Espacement intérieur (haut-bas, gauche-droite) */
        font-size: 18px; /* Taille de la police */
        border-radius: 12px;
        display: flex;
        align-items: center;
      }
      .indexContent button>*{
        color:white;
      }
      
      .indexContent button:hover {
        background-color: #0056b3; /* Couleur de fond du bouton au survol */
      }
    
      .indexContent button img {
        width: 30px;
        margin: 0 0 0 10px;
    }
    
    /* =================================== */
    #skills{
        display: flex;
    }
    #skills .cardSkils{
        /* border:solid 1px black; */
        padding:5px ;
        border-radius: 5px;
        margin:0 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #skills img{
        max-width: 80px;
        max-height: 80px;
    }
    
    /* ========================= */
    .presentationModule{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .presentationModule .head{
        display: flex;
        justify-content: space-around;
        align-content: center;
        padding: 36px 70px 0 70px;
    }
    .presentationModule .head .headText{
        display: flex;
        align-content: center;
        flex-direction: column;
    }
    .presentationModule .head .headText{
        width:65%;
        font-size:18px;
    }
    .presentationModule .head .headText h3{
        font-size: 24px;
        margin-bottom: 4px;
    }
    .presentationModule .head .headText p{
        font-size: 18px;
        font-size: 18px;
        margin-bottom: 8px;
    }
    .presentationModule .head .headText .softSkills{
        margin-bottom: 15px;
    }
    .softSkills{
        margin-top: 10px;
    }
    .softSkills .mate{
        border-radius: 5px;
        padding:7px 13px;
        margin:0 5px 0 0;
        font-size: 18px;
        font-size: 18px;
    }
    .softSkills .mate:hover{
        transform: scale(1.1);
    }

    .presentationModule .head .image{
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .presentationModule .head .image:before{
        position: absolute;
        content: " ";
        top: 50%;
        left: 50%;
        width: 200px;
        height: 85px;
        background: darkkhaki;
        border: solid 2px #710909;
        border-radius: 50%;
        /* transform: rotate3d(1, -1, 3, 173deg) translate(-23px, -142px); */
        /* transform: rotate3d(1, -1, 3, 171deg) translate(-1px, -116px); */
        /* transform: rotate3d(1, -1, 3, 173deg) translate(-23px, -142px); */
        /* transform: rotate3d(1, -1, 3, 171deg) translate(17px, -145px); */
        /* transform: rotate3d(1, -1, 1, 171deg) translate(-50%, -50%); */
        transform: rotate3d(1, 1, 1, -41deg) translate(-50%, -50%);
        z-index: -1;
    }

    .presentationModule .head .r{
        position: absolute;
        content: " ";
        top: 50%;
        left: 50%;
        width: 245px;
        height: 145px;
        background: #710909;
        border: solid 2px yellow;
        border-radius: 50%;
        /* transform: rotate3d(1, -1, 3, 29deg) translate(146px, -18px); */
        z-index: -1;
        transform: rotate3d(2, 4, -2, -280deg) translate(-50%, -50%);
    }
    .presentationModule .head .g{
        position: absolute;
        content: " ";
        top: 50%;
        left: 50%;
        width: 240px;
        height: 200px;
        background: #710909;
        border: solid 2px yellow;
        border-radius: 50%;
        /* transform: rotate3d(1, -1, 3, 46deg) translate(68px, 2px); */
        transform:rotate3d(-25, -21, -2, -251deg) translate(-50%, -50%);
        z-index: -2;
    }
    .presentationModule .head .image:after{
        position: absolute;
        content: " ";
        top: 50%;
        left: 50%;
        width: 160px;
        height: 131px;
        background: darkkhaki;
        border: solid 2px #710909;
        border-radius: 50%;
        transform: rotate3d(6, 8, 3, -194deg) translate(-50%, -50%);
        z-index: -1;
    }
    .presentationModule .head .image img{
        border-radius: 50%;
        width: 65%;
    }
    
    /* ===================== */
    .projects {
        padding:0 50px;
        height: 60%;
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects .next{
        padding:0 15px;
        position:absolute;
        background-size: contain;
        background-repeat: no-repeat;
        content:" ";
        right: 0%;
        width: 50px;
        height: 50px;
    }
    .projects .next:hover {
        transform: translateY(-50%) scale(1.2);
    }
    .projects .precedent:hover {
        transform:rotate(180deg)  translateY(50%) scale(1.2);
    }
    .projects .precedent {
        padding:0 15px;
        position:absolute;
        background: url("../image/icon/right-chevron.png");
        background-size: contain;
        background-repeat: no-repeat;
        content:" ";
        top:50%;
        transform: translateY(-50%) rotate(180deg);
        left: 0%;
        width: 50px;
        height: 50px;
    }
    .projects .tricards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        gap: 4px;
    }
    .projects .cardProject{
        /* display: grid;
        grid-template-rows: 50px 100px 1fr 80px 80px; */
        border-radius: 30px;
        padding:30px;
    }
    .projects .cardProject .card_title{
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    .projects .cardProject .card_title h3{
        text-align: center;
    }
    .projects .cardProject .card_image{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width:100%;
        margin-bottom: 10px;
    }
    .projects .cardProject .card_text , .projects  .skillsProject p{
        font-size: 16px;
    }
    .projects .cardProject .card_text p, .projects  .skillsProject p{
        margin-bottom: 0px;
    }
    .projects  .card_text span,.projects  .skillsProject p{
        font-weight: bold;
    }
    .projects .skillsProject{
        flex-direction: column;
    }
    .projects .skills{
        padding: 2px;
        border-radius: 5px;
        margin: 0px 5px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }
}
@media only screen and (max-width: 1300px){
    .projects{
        padding:0 50px;
    }
    .projects .next{
        right:-1%;
    }
    .projects .precedent {
        left:-1%;
    }
    .presentationModule .head{
        padding:20px 10px 0 10px;
    }
}
@media only screen and (max-width: 1100px){
    .projects{
        padding: 0;
    }
}
@media only screen and (max-width : 900px){
    #content, #content .card{
        height: auto !important;
    }
    #content, #content .box{
        min-height: 100vh !important;
    }
    .index{
        padding: 0;
    }
    #content>.box{
        width:100%;
        overflow: hidden;
        position :static
    }
    .index .indexContent{
        display: flex;
        flex-direction: column-reverse;
    }
    .indexContent p{
        font-size: 19px;
    }
    .indexContent .presentation{
        width: 100%;
        padding:15px;
    }
    .indexContent .presentation .name{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        justify-content:space-between;
    }
    .indexContent .presentation .name h1{
        text-align: center;
    }
    .indexContent .presentation p{
        line-height: 1.2;
    }

    .presentation>h1,.presentation>h3{
        text-align: center;
    }
    .cardInactive1 , .cardInactive2, .cardInactive3{
        display: none;
    }
    .presentationModule.card{
        transform: none;
    }

    /*  */
    .animated-border:hover{
        animation: none;
    }
    .card{
        border-radius: 30px;
        padding:20px;
    }
    .card .head{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .head .headText{
        width: 100% !important;
        padding: 15px;
    }
    .headText .softSkills{
        margin-top: 0;
    }
    .projects{
        flex-direction: column;
    }
    .projects .tricards{
        display: flex;
        flex-direction: column;
        padding:  0 20px;
        display: flex !important;
    }
    .precedent,.next{
        display: none !important;
    }
    .projects .cardProject{
        margin-bottom: 10px;
        border-radius: 15px;
        padding:20px;
        grid-template-rows: 50px 300px 1fr auto 60px;
    }
    .projects .cardProject:hover{
        transform: none;
    }
    #skills img{
        width: 50px;
    }
}
@media only screen and (max-width : 450px){
    .card{
        padding:0;
    }
    .presentationModule .head .headText h3{
        font-size: 16px;
    }
    .presentationModule .head .headText p{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .softSkills .mate{
        font-size: 17px;
        padding: 3px 5px;
    }
    .projects .cardProject{
        /* display: grid; */
        grid-template-rows: auto 150px 1fr auto auto;
        padding:15px
    }

    #skills img{
        width: 35px;
    }
    #skills .cardSkils{
        padding:3px;
    }
}
@media only screen and (max-height: 1000px) {
    .card {
        width: 90%;
        height: 90%;
      }
      .projects .cardProject .card_title {
        margin-bottom: 8px;
      }
      .projects .cardProject .card_text p, .projects .skillsProject p {
        margin-bottom: 0;
      }
}
@media only screen and (max-height: 900px) {
    .hidden-w-900{
        display: none;
    }
    .card {
        width: 90%;
        height: 90%;
      }
      /* .presentationModule .head {
        padding: 10px 10px 0 10px;
      } */
      .presentationModule .head .headText {
        width: 70%;
        font-size: 18px;
      }
    .presentationModule .head .headText h3 {
        font-size: 24px;
        margin-bottom: 2px;
        font-weight: bold;
      }
      .presentationModule .head .headText p {
        /* font-size: 20px; */
        margin-bottom: 3px;
      }
      
      .projects .cardProject .card_title {
        margin-bottom: 0px;
      }
      .projects .cardProject .card_title h3{
        font-size: 20px;
    }
    .projects .cardProject .card_image {
        margin-bottom: 4px;
      }
      .projects .cardProject {
        padding: 24px;
      }
      .projects .cardProject .card_text, .projects .skillsProject p {
        font-size: 18px;
      }
      .projects .cardProject .card_text p{
        margin-bottom: 0;
      }
      .projects .skillsProject {
        flex-direction: row;
        margin: 2px 0 0 0;
      }
      
}
